body
{
	margin:0;
}
.modal-view

{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
}
.modal-status

{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
}
.modal-add

{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
}
.modal-edit
{
       
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
}
.modal_close
{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	position:absolute;
	top:0;
}
.close
{
	cursor:pointer;
        
}
.modal_main
{
        box-shadow: 0 2px 20px rgba(0,0,0,0.50);
        padding: 10px;
	width:50%;
	height:auto;
	background:#fff;
	z-index:4;
	position:fixed;
	top:14%;
	border-radius:4px;
	left:24%;
	display:none;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: fadeOut;
}
@-webkit-keyframes fadeInTop{1%{opacity:10;-webkit-transform:translateX(20px)}100%{opacity:1;-webkit-transform:translateX(0)}}
button
{
padding:20px;
border-radius:5px;
background:#3399cc;
border:none;
font-size:20px;
color:#fff;
margin:8%;
}



/*MODAL CONTENT*/

#fieldset-modal-view{
    padding: 0px;
    margin: 2px;
    height: auto;
    border: 0px;
    font-size: 15px;
}
#fieldset-modal-view img{
   margin-right:15px;
   width: 150px;
   height: 140px;
   border-radius: 100px;
   float: left;
}
#insert_form input{
    width: 330px;
    padding: 5px;
}
#add_form input{
    width: 300px;
    padding: 5px;
}
#add_form label{
    color: blue;
}
#insert_form select{
     width: 330px;
    padding: 5px; 
}
#insert_form label{
    color: #03a5f9;
}
#add_form select{
     width: 300px;
    padding: 5px; 
}
#status_form label{
    color: blue;
}
#status_form select{
     width: 300px;
    padding: 5px; 
}